html {
  box-sizing: border-box;
  font-family: 'dosis', sans-serif;
}
*, *::before, *::after {
  box-sizing: inherit;
 }

 .logo{
 	float: left;
 	width: 15%;
 }

 h1{
 	font-size: 1.5em;
 	display: inline-block;
 }
 .buy{
 	float: right;
 	border: 1px solid black;
 	padding: 0 1em 0 1em;
 	background-color: blue;

 }

 nav a{
 	text-decoration: none;
 }

 ol{
 	list-style-type: none;
 }

 nav li{
 	display: inline-block;
 	padding: 1.25em;
 	border: 1px solid black;
 	width: 25%;
 	font-size: .75em;
 }
 .pano {
 	background-image: url("../images/pano.jpg");
 	width: 100%;
 	position: relative;
 	height: 20em;
 }

.seven {
 	position: absolute;
 	top: 250px;
 	padding-left: 1em;
 	color: white;
 }